<div class="wrapper">
  <!-- 1 -->
  <!-- <img class="bgimg" src="../assets/dummy.jpeg" width="100%" /> -->
  <div class="invcenter textwrapper flexcolumn">
    <img
      src="../assets/engagement.png"
      style="filter: invert(100%); -webkit-filter: invert(100%); margin-bottom: 2rem"
      width="100"
    />
    <div class="invtitle">Giulia & Pascal</div>
    <div class="invsubtitle">
      Bäretriewerhütte Durmersheim | 22. August 2020, 12:00 Uhr
    </div>
  </div>
</div>
<!-- 2 -->
<div style="padding: 4rem 0rem; background: #00d1b21f">
  <div class="when-where opensans flexcolumn">
    <div class="when-where-el flexcolumn" style="margin-bottom: 3rem">
      <div style="font-weight: bold; margin-bottom: 1rem; font-size: 1.5rem">
        WO
      </div>
      <div style="font-size: 1.25rem" class="invgrey">
        Bäretriewerhütte Durmersheim
      </div>
      <div style="font-size: 1.25rem" class="invgrey">
        Ettlinger Str. 217, 76448 Durmersheim
      </div>
    </div>
    <div class="invcenter" style="margin-bottom: 3rem">
      <div class="line"></div>
    </div>

    <div class="when-where-el flexcolumn">
      <div style="font-weight: bold; margin-bottom: 1rem; font-size: 1.5rem">
        WANN
      </div>
      <div style="font-size: 1.25rem" class="invgrey">
        22. August 2020, 12:00 Uhr
      </div>
    </div>
  </div>
  <div class="invcenter">
    <button
      (click)="scrollToRegistration()"
      class="button is-primary is-rounded"
      style="font-weight: bold; margin-top: 3rem"
    >
      Zusagen bis 1. Juli 2020
    </button>
  </div>
</div>

<!-- Info cards -->
<div class="card-container opensans" style="padding: 3rem 0; flex-wrap: wrap;">
  <div class="invcard">
    <div>
      <img src="../assets/food_c.png" />
    </div>
    <div class="invcard-content">
      <div style="font-weight: bold; margin-bottom: 1rem">
        ESSEN
      </div>
      <div>
        Unter dem Motto <i>'Sharing is Caring'</i> wird es ein kunterbuntes
        Mitbring-Buffet geben. Wir freuen uns, wenn jeder Gast etwas Leckeres
        und Veganes zum Buffet beiträgt. Bringt eure Leckerei bitte in einem
        Glas- oder einem weißen Behälter mit.
      </div>
    </div>
  </div>

  <div class="invcard">
    <div>
      <img src="../assets/dress_c.png" />
    </div>
    <div class="invcard-content">
      <div style="font-weight: bold; margin-bottom: 1rem">
        DRESSCODE
      </div>
      <div>
        Niemand von uns braucht noch mehr Kleider im Schrank.
        <i>Gebt euren Kleidern eine zweite Chance!</i> Kauft euch nichts Neues,
        wenn es nicht unbedingt sein muss, denn bei uns dürft ihr so kommen wie
        ihr euch wohl fühlt.
      </div>
    </div>
  </div>

  <div class="invcard">
    <div>
      <img src="../assets/bring_c.png" />
    </div>
    <div class="invcard-content">
      <div style="font-weight: bold; margin-bottom: 1rem">
        MITBRINGEN
      </div>
      <div>
        Da wir im Freien feiern, packt eine Jacke und eventuell eine
        Kuscheldecke ein. Der Abend kann lang werden ;)
        <i>Vergesst das Essen aber vor allem euch selbst bitte auch nicht!</i>
      </div>
    </div>
  </div>

  <div class="invcard">
    <div>
      <img src="../assets/gifts_c.png" />
    </div>
    <div class="invcard-content">
      <div style="font-weight: bold; margin-bottom: 1rem">
        GESCHENKE
      </div>
      <div>
        Wir brauchen keine großen Geschenke von euch. Viel lieber freuen wir uns
        über euer <i>persönliches Engagement</i> durch euer mitgebrachtes Essen
        und Hilfe beim Auf- und Abbau. Falls ihr uns dennoch beschenken wollt,
        würden wir uns über Geld zur Deckung der Hochzeitskosten freuen :)
      </div>
    </div>
  </div>
</div>

<div
  id="registration"
  style="padding: 3rem 0; height: 850px; display: flex; justify-content: center; background: #00d1b21f"
>
  <iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLSeDEMhmkWOA2GuDN71vCmE8VI_1X3sx7jhN9tAEYB8gEuiCZQ/viewform?embedded=true"
    width="500"
    height="800"
    frameborder="0"
    marginheight="0"
    marginwidth="0"
    >Wird geladen…</iframe
  >
</div>

<!--footer-->
<footer class="footer" style="padding: 2rem;">
  <div class="content has-text-centered">
    <p>
      © Webseite erstellt von Giulia & Pascal mit &lt;3
    </p>
  </div>
</footer>
