.wrapper {
  width: 100vw;
  height: 100vh;
  background: url('../assets/dummy.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.invcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textwrapper {
  padding: 1rem;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  font-family: 'Bebas Neue', cursive;
}

.invtitle {
  font-size: 5rem;
}

.invsubtitle {
  font-size: 2rem;
}

.when-where {
  display: flex;
  justify-content: center;
  width: 100vw;
  color: black;
}

.opensans {
  font-family: 'Open Sans', sans-serif;
}

.when-where-el {
  display: flex;
  align-items: center;
}

.flexcolumn {
  flex-direction: column;
}

.line {
  margin: 0 4rem;
  width: 125px;
  border-top: 1px solid var(--invgrey);
}

.card-container {
  display: flex;
  justify-content: center;
}

.invcard {
  min-height: 450px;
  width: 20rem;
  border-radius: 10px;
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.1);
  margin: 1rem;

  img {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
  }
}

.invcard-content {
  text-align: center;
  padding: 1rem;
}

// .infocards-wrapper {
//   display: flex;
//   align-items: center;
//   justify-content: space-aroun;
// }

// .bgimg {
//   position: fixed;
//   z-index: -100;
// }
